</div>
<div class = "nav" >
  <ul>
    <li><a class="nav link" href = "/dash"> Dashboard</a>/<li>
    <li><a class="nav link" href = "/library"> Library</a>/<li>
    <li><a class="nav link" href = "/students"> Students</a>/<li>
</ul>
</div>